*~.xml
xenko/ComputeParticlesTest/ComputeParticlesTest/Resources/Pointcloud/RockTree+Grizedale+HeroBranch_v10.0M_4096_2977_PosCol.dds
xenko/ComputeParticlesTest/ComputeParticlesTest/Resources/Pointcloud/RockTree+Grizedale+HeroBranch_v10.0M_4096_2977_Custom.dds
/src/packages/
.vs/
*/bin/
*/obj/
bin/
obj/
*.user
