/packages/VL.Stride/src/Resources/** filter=lfs diff=lfs merge=lfs -text
/packages/VL.Stride.Runtime/src/Resources/** filter=lfs diff=lfs merge=lfs -text
/packages/VL.Stride/help/Assets/** filter=lfs diff=lfs merge=lfs -text
/packages/VL.Stride.Runtime/help/Assets/** filter=lfs diff=lfs merge=lfs -text
/packages/VL.Stride.Windows/help/Assets/** filter=lfs diff=lfs merge=lfs -text
/packages/VL.Stride.Windows/help/Content/MyGame/MyGame/Resources/** filter=lfs diff=lfs merge=lfs -text
/packages-xenko/VL.Xenko/src/Resources/** filter=lfs diff=lfs merge=lfs -text
packages/VL.Stride.Windows/src/Resources/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
packages-xenko/VL.Xenko.Windows/src/Resources/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
