/packages/VL.Stride/src/Resources/Textures/** filter=lfs diff=lfs merge=lfs -text
/packages-xenko/VL.Xenko/src/Resources/Textures/** filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
packages/VL.Stride.Windows/src/Resources/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
packages-xenko/VL.Xenko.Windows/src/Resources/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
