[submodule "XenkoLiveEditor"]
	path = packages-xenko/XenkoLiveEditor
	url = https://github.com/tebjan/XenkoLiveEditor.git
	branch = debug-with-xenko
[submodule "packages/StrideLiveEditor"]
	path = packages/StrideLiveEditor
	url = https://github.com/tebjan/XenkoLiveEditor.git
[submodule "packages-xenko/XenkoLiveEditor"]
	path = packages-xenko/XenkoLiveEditor
	url = https://github.com/tebjan/XenkoLiveEditor.git
