<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nugetizer3000" value="https://ci.appveyor.com/nuget/nugetizer3000" />
    <add key="vvvv-private-feed" value="http://teamcity.vvvv.org/httpAuth/app/nuget/v1/FeedService.svc/" />
    <add key="local-packages" value="..\packages" />
  </packageSources>
  <packageSourceCredentials>
    <vvvv-private-feed>
        <add key="Username" value="vl-xenko" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAwZjg85Kcckmal1pR59KTbQAAAAACAAAAAAAQZgAAAAEAACAAAACPUO1LydosvcAuce8q7FhiNk+9r00egydXcITmUsWZFQAAAAAOgAAAAAIAACAAAABLpTQ5WlDrngU7xZgui4TviqHoVxzlI82e1CjxRPUXWSAAAAD4KJ4dWYPWTO/a/1VG5NJItKgZ/4aWJduRX5N9dSMsDUAAAAB5GMPxJ0froMAuxOQ4WxNYsoCVO8au5YQqda4nBq9cDZKyGqxUHziY90jv3cxGqrXrMgH1ydeLpeDszv5rG05F" />
      </vvvv-private-feed>
  </packageSourceCredentials>
</configuration>
