<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nugetizer3000" value="https://ci.appveyor.com/nuget/nugetizer3000" />
    <add key="msbuildtasks" value="http://www.myget.org/F/loresoft/" />
    <add key="vvvv-private-feed" value="http://teamcity.vvvv.org/httpAuth/app/nuget/v1/FeedService.svc/" />
    <add key="local-packages" value="..\packages" />
  </packageSources>
</configuration>
