<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net461" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net461" />
  <package id="VL.Core" version="0.92.8-g0eff603267" targetFramework="net461" />
  <package id="VL.Lang" version="0.92.8-g0eff603267" targetFramework="net461" />
  <package id="VL.Microsoft.Cci" version="0.92.8-g0eff603267" targetFramework="net461" />
  <package id="Xenko" version="3.0.0.3" targetFramework="net461" />
</packages>